<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %highlight(%-5level) %green(%C{1.}):%L - %msg%n%throwable</pattern>
		</encoder>
	</appender>    
<!--     <property name="HOME_LOG" value="/home/forexhunter/eclipse-workspace/GIT/logistic/logistic/logs/app.log/"/> -->

	<appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, 
				it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.}:%L %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate.SQL" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.vaadin.flow.server.DevModeHandler" level="warn" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>

    <logger name="ua.com.sipsoft" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE-ROLLING"/>
		<appender-ref ref="STDOUT" />
    </root>
</configuration>
